* {
    font-family: 'Nunito';
}

h1 {
    text-align: center;
}

input {
    min-width: 50px;
}

.flex-space-around {
    display: flex; 
    justify-content: center;
}

.flex-center {
    display: flex; 
    justify-content: center;
}

.radius {
    width: 40px;
}

#box {
    border: 1px solid black; 
    height: 50px; 
    width: 100px; 
    margin-bottom: 3rem;
}

#css-generated {
    border-width: 0;
    outline: none;
    width: 100%;
    text-align: center;
}